@import url("variables.css") all;

#profile-box{
    width: 90vw;
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile{
    display: grid;
    z-index: 1;
    grid-template-columns: 1fr;
    grid-gap: 2vw;
    padding: 5vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--box_shadow);
}

#picture{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-image: linear-gradient(185deg, #3ff8ff 0, #4ddaff 25%, #53bcf2 50%, #539fcc 75%, #4f84a8 100%);
    box-shadow: var(--box_shadow);
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 3px;
    box-shadow: 2px 2px 2px var(--color_main) ;
    border-radius: 2vh;

}

p{
    font-family: 'Ubuntu', sans-serif;  
}