@import url(variables.css) all;

.search-bar{
    display : flex;
    align-items: center;
    justify-content: space-around;

    width: 90vw;
    padding: 1vh 5vw;
}

.search{
    border: none;
    outline: none;
    padding : 1vw;
    width : 30vw;
    height: 3vh;
    border-radius: 2vh;
    z-index: 1;
    box-shadow: var(--box_shadow);
}

#job-board{

    width: 90vw;

    background-color: var(--color_secondary);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    padding: 5vw;
}

.job-full{
    z-index: 2;
    box-shadow: var(--box_shadow) ;
    border-radius: 2vw;
    transition: all 0.5s;
    position: absolute;
    background-color: white;
    width: 50vw;
    height: 50vh;
    top: 20vh;
    left: 20vw;
    backdrop-filter: blur(2px);
    padding: 5vw;
}

.mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba( 0, 0, 0, 0.6 );
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1;
}

.exit{
    position: absolute;
    top: 0;
    right: 0;
}

.job{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--box_shadow);
}

.job p{
    margin-block-start: 0px;
}

.title{
    font-size: 1.5em;
    font-weight: bold;
}

.location{
    font-size: 1.2em;
    font-weight: bold;
}

.wages{
    width: fit-content;
    background-color: rgb(189, 189, 189);
    border-radius: 2vw;
    padding: 1vw;
}

@media screen and (max-width: 519px) {
    #job-board{
        grid-template-columns: 1fr;
    }
}