@import url(variables.css) all;

.search-bar{
    display : flex;
    align-items: center;
    justify-content: space-around;

    width: 90vw;
    padding: 1vh 5vw;
}

.search{
    border: none;
    outline: none;
    padding : 1vw;
    width : 30vw;
    height: 3vh;
    border-radius: 2vh;
    z-index: 1;
    box-shadow: var(--box_shadow);
}

#job-board{

    width: 90vw;

    background-color: var(--color_secondary);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    padding: 5vw;
}

.job{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--box_shadow);
}

.job p{
    margin-block-start: 0px;
}

@media screen and (max-width: 519px) {
    #job-board{
        grid-template-columns: 1fr;
    }
}