body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

main{
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: rgb(138, 43, 226);
}

a{
    text-decoration: none;
    color: black;
    transition: font-size 0.5s;
}

a:hover{
    font-size: 1.2em;
}

#nav-bar{
    width: 100vw;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    background-color: rgb(255, 255, 255);
}

.nav-ul{
    padding-inline-start: 0px;
    padding: 1vw;
}
.nav-ul li{
    display: inline;
    padding: 1vw;
}



footer{
    width: 100vw;
    position: relative;
    bottom: 0;
    height: fit-content;
}